body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
    background-size: 200% 200%;
    background: linear-gradient(135deg, #845ec2 0%, #ff9671 100%);
    animation: gradientAnimation 10s ease infinite;
    animation: fireGlow 1.5s infinite;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#header h1 {
    margin: 0;
    font-size: 24px;
    margin-top: 10px;
}

#header h2 {
    font-size: 20px;
    color: #58fff1;
    margin-top: 0px;
}

#themeIcon {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

#container {
    max-width: 800px;
    padding: 30px;
    border-radius: 15px;
    transition: box-shadow 0.3s ease, background-color 0.5s ease;
    background: linear-gradient(135deg, #3845ff 0%, #ff0000 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.link {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    border: 2px solid #6d6875;
    border-radius: 10px;
    background-color: #a3a3a3;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    width: 250px;
}

.link a:hover {
    background-color: #6d6875;
    transform: scale(1.05);
}

.link a span {
    flex-grow: 1;
    text-align: center;
    transition: color 0.3s ease;
}

.link .icon {
    margin-right: 10px;
}

.link img {
    width: 40px;
    height: 40px;
}

.link a:hover span {
    color: #ffffff;
}


.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme-container {
    background-color: #1e1e1e;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.dark-theme .link a {
    color: #ffffff;
    border: 2px solid #4a69bd;
    background-color: #57606f;
}

.dark-theme .link a:hover {
    background-color: #4a69bd;
}

.dark-theme .link a span {
    color: #ffffff;
}

.dark-theme .link a:hover span {
    color: #ffffff;
}

#themeToggleBtn {
    margin-top: 20px;
    position: fixed;
    top: 60px;
    right: 5px;
    background-color: transparent;
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 5px;
}

#themeToggleBtn img {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto;
}

#profileImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -100px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    #container {
        max-width: 80%;
        padding: 15px;
    }

    #header h1 {
        font-size: 20px;
    }

    #header h2 {
        font-size: 16px;
    }

    #profileImage {
        width: 60px;
        height: 60px;
        margin-top: 25px;
    }
}

.navbar {
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: background-color 0.5s ease;
    background: linear-gradient(135deg, #296073 0%, #23272e 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a:hover {
    color: #ff7f50;
  }
  
  @media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
  }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fireGlow {
    0% {
        filter: drop-shadow(0 0 10px #fffc35);
    }
    50% {
        filter: drop-shadow(0 0 20px #fffb1d);
    }
    100% {
        filter: drop-shadow(0 0 10px #fffb00);
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #2c3e50;
}

body::-webkit-scrollbar-thumb {
    background-color: #e74c3c;
    border-radius: 20px;
    border: 3px solid #2c3e50;
}

.footer {
    background: linear-gradient(135deg, #296073 0%, #23272e 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: none;
    width: 100%;
    z-index: 100;
    transition: background-color 0.5s ease;
    position: absolute;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    transition: background-color 0.5s ease;
    background: linear-gradient(135deg, #296073 0%, #23272e 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

.footer-logo {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-social li {
    margin-right: 10px;
}

.footer-social a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}
